* {
  font-family: Roboto, sans-serif;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.title {
  color: black;
  font-size: 80px;
  font-weight: 400;
  flex-direction: column;
  justify-content: flex-end;
  font-style: normal;
  line-height: normal;
}
.title-decoration {
  color: #4bcaff;
}
.nav {
  height: 69px;
  display: flex;
  background-color: #35444f;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
}
.nav-item {
  display: flex;
  padding: 0 20px;
  margin: 0 20px;
  align-items: center;
}
.nav-items {
  padding: 30px 30px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.nav-items:hover {
  background-color: #222f3a;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 64px;
}
.main-img {
  justify-content: center;
  align-items: center;
  margin-left: 51px;
}
.main-img img {
  display: flex;
  padding: 75px 193px 73px 297px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
}
.main-info {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  margin-left: 51px;
  margin-top: 37px;
}
.menu {
  width: 344px;
  height: 344px;
  padding: 0;
  display: flex;
  border: 1px solid #000;
}
.menu-item {
  width: 332px;
  color: #495863;
  font-size: 27px;
  line-height: 27px;
  padding: 0;
  margin: 0;
}
.menu-items {
  padding: 21px 82px 21px 44px;
}
.menu-items:hover {
  background: #dbdbdb;
  color: #000;
  display: flex;
  justify-content: space-around;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: #0c1927;
  padding: 0 40px;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  background: rgba(99, 105, 110, 0.48);
}
.footer-item {
  display: flex;
}
.footer-items {
  padding: 0 7px 0;
}
.footer-items:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
.footer-item:first-child {
  padding: 0;
}
.content-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 51px;
}
.footer-data a {
  display: flex;
}
.footer-data {
  color: #010101;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.footer-data {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  justify-content: flex-end;
}

.change-the-subject {
  display: flex;
  color: beige;
  background-color: green;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #000;
}
.dark-theme {
  background-color: #f0e7e7;
}
